/* Components */

@import url("./componentes/tipografias.css");
@import url("./componentes/cores.css");



/* Gerais */

body{
  margin: 0px;
  color: white;
}

h1,h2,h3,p{
  margin: 0px;
}


ul,li{
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

a{
  color:inherit;
  text-decoration: none;
  
}

/* Header */

.header-bg{
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: top right;
  background-size: cover;
}

.header-container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 64px 30px 146px 30px;
}

.top-header{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.top-header .nav-list{
  display: flex;
  gap: 32px;
}
.menu-hb{
  display: none;
  background-image: url("../images/icon-hamburger.svg");
  background-size: auto;
  background-color: transparent;
  width: 24px;
  height: 16px;
  border: none;
  cursor: pointer;
}
.header-container p{
  max-width: 12ch;
  text-transform: uppercase;
  margin-top: 130px;
  padding: 40px;
  border: 2px solid white;
}
@media (max-width:800px){
  .menu-hb{
  display: block;
  }
  .nav{
    display: none;
  }
  .header-container p{
    margin: 163px auto 0px auto;
  }
}
/* Sobre Empresa */
.main{
  margin: 150px 0px 184px 0px;
  
}

.sobre-empresa{
  max-width: 1120px;
  margin: 0 auto 180px auto;
  display: grid;
  grid-template-columns:minmax(auto,6fr) 3fr;
  padding: 0px 80px 0px 0px;
  transition: .5s;
  box-sizing: border-box;
  justify-content: center;
 
}

.sobre-empresa picture{
  max-width: 654px;
}

.container-txt{
  position: relative;
  
}
.sobre-empresa-texto{
  max-width: 450px;
  padding-top: 96px;
  padding-left: 96px;
  position: absolute;
  bottom: -1px;
  left: -230px;
  background-color: rgb(255, 255, 255);
  
 
}

.sobre-empresa-texto h1{
  text-transform: uppercase;
  max-width: 20ch;
}

.sobre-empresa-texto p{
  max-width: 46ch;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media (max-width:1300px){
  .sobre-empresa{
    grid-template-columns: 1fr;
  }

  .sobre-empresa-texto{
    bottom: -70px;
    left: 500px;
  }
}

@media (max-width:1240px){
 /* .sobre-empresa{
  justify-content: center;
 } */
  .sobre-empresa-texto{
    left: 250px;
    transition: .5s;
  }

}

@media (max-width:1180px){
  .sobre-empresa{
    padding-left: 200px;
    
  }
  .sobre-empresa-texto{
    padding: 40px;
    left: 150px;
    }

}

@media (max-width:1050px){
  .sobre-empresa{
    padding: 0px 120px;
    
  }
  .sobre-empresa-texto{
    padding: 40px;
    left: 150px;
    }

}

@media (max-width:900px){
  .sobre-empresa-texto{
    left: 50px;
    }
}

@media (max-width:860px){
  .sobre-empresa{
    align-items: center;
    padding: 0px 60px;
    margin-bottom: 96px;
  }
  picture img{
    width:100%
  }
  .sobre-empresa-texto{
   position: initial;
   text-align: center;
   align-self: center;
   max-width: initial;
   padding-bottom: 0px;
  }
  .sobre-empresa-texto p{
    margin: 0 auto;
   }
   .sobre-empresa-texto h1{
    margin: 8px auto 16px;
    }
 }

 @media (max-width:600px){
  .sobre-empresa picture{
  max-width: 327px;
  margin: 0 auto;
  }
 }

 /* Nossas Criacoes */

 .nossa-criacao{
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 20px;
 }

 .list-item{
  width: 256px;
  height: 450px;
  background-image: url("../../images/desktop/image-deep-earth.jpg");
  display: flex;
  cursor: pointer;
  transition: .3s;
  
}

.list-item h3{
  z-index: 22;
}
.bg-opacity{
  position: relative;
  max-width: 256px;
}

.bg-hover{
  width: 0px;
  height: 450px;
  position: absolute;
  background-color: #ffffffb9;
  top: 0;
  visibility: hidden;
  transition:ease-in .3s; 
  
}

.bg-opacity:hover{
  color: black;
}

.bg-opacity:hover .bg-hover{
  visibility: visible;
  height: 450px;
  width: 256px;
  cursor: pointer;
}

.list-item h3{
  place-self:flex-end;
  padding: 0px 0px 32px 40px;
  font-weight: 300;
  font-size: 2rem;
  max-width: 10ch;
}

 .nossa-criacao h2{
  grid-column: 1/3;
  margin-bottom: 50px;
 }

 .nossa-criacao a{
  padding: 13px 38px;
  border: 1px solid black;
  grid-column: 4;
  place-self: center end;
  margin-bottom: 50px;
  transition: ease-in-out .3s;
 }

 .nossa-criacao a:hover{
  background-color: black;
  color: white;
 }
 /* Bg Itens */

 .deep h3{
  max-width: 8ch;
 }

 .night{
  background-image: url("../images/desktop/image-night-arcade.jpg");
 }

 .soccer{
  background-image: url("../images/desktop/image-soccer-team.jpg");
 }

 .thegrid{
  background-image: url("../images/desktop/image-grid.jpg");
 }
 .thegrid h3{
  max-width: 6ch;
 }

.fromup{
  background-image: url("../images/desktop/image-from-above.jpg");
}

.borealis{
  background-image: url("../images/desktop/image-pocket-borealis.jpg");
}

.curiosity{
  background-image: url("../images/desktop/image-curiosity.jpg");
}

.fisheye{
  background-image: url("../images/desktop/image-fisheye.jpg");
}

 @media (max-width:1200px){
  .nossa-criacao{
    grid-template-columns: minmax(256px,1fr) minmax(256px,1fr) minmax(256px,1fr);
    gap: 20px 0px;
  }
  .nossa-criacao a{
    grid-column: 3;
  }
  .bg-opacity{
    place-self: center;
  }

  @media (max-width:860px) {
    .nossa-criacao{

      grid-template-columns: minmax(100px,1fr);
      justify-items: center;
    }
    .nossa-criacao a{
      grid-column: 1;
      order: 20;
      place-self: center;
    }
    .nossa-criacao h2{
      grid-column: 1;
     }
     .list-item{
      width:initial;
      height: initial;
      background-image: url("../../images/mobile/image-deep-earth.jpg");
      min-height: 240px;
      
    }

    .bg-opacity{
      display: grid;
      width: initial;
      width: 100%;
      height: initial;
      max-width: initial;
    }
 
    .bg-opacity:hover .bg-hover{
      visibility: visible;
      width: 654px;
      height: 240px;
      cursor: pointer;
    }

    /* Card Itens Bg*/
    .night{
      background-image: url("../images/mobile/image-night-arcade.jpg");
     }
    
     .soccer{
      background-image: url("../images/mobile/image-soccer-team.jpg");
     }
    
     .thegrid{
      background-image: url("../images/mobile/image-grid.jpg");
     }
    
    .fromup{
      background-image: url("../images/mobile/image-from-above.jpg");
    }
    
    .borealis{
      background-image: url("../images/mobile/image-pocket-borealis.jpg");
    }
    
    .curiosity{
      background-image: url("../images/mobile/image-curiosity.jpg");
    }
    
    .fisheye{
      background-image: url("../images/mobile/image-fisheye.jpg");
    }


  }
 }

 /* Footer */

 .footer-bg{
  background-color: black;
 }

 .footer-container{
  
  max-width: 1120px;
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0 auto;
  gap: 24px;
  padding: 44px 20px;
 }

 .redes-sociais{
  display: flex;
  gap: 16px;
  place-self: end;
}

 .nav-footer .nav-list{
  display: flex;
  gap: 32px;
 }

 .nav-footer p{
  color: rgba(255, 255, 255, 0.045);
  
 }

 @media (max-width:800px){
  .footer-container{
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 32px;
  }

  .redes-sociais{
    place-self: initial;
    grid-row: 3;
  }
  .nav-footer .nav-list{
  flex-direction: column;
  order: -2;
  gap: 16px;

  }


 }