/* Components */

@import url("./componentes/tipografias.css");
@import url("./componentes/cores.css");



/* Gerais */

body{
  margin: 0px;
  color: white;
}

h1,h2,h3,p{
  margin: 0px;
}


ul,li{
  margin: 0px;
  padding: 0px;
}

ul{
  list-style: none;
}

img{
  display: block;
  max-width: 100%;
}

a{
  color:inherit;
  text-decoration: none;
  
}

/* Header */

.header-bg{
  background-image: url("../images/desktop/image-hero.jpg");
  background-position: top right;
  background-size: cover;
}

.header-container{
  max-width: 1120px;
  margin: 0 auto;
  padding: 64px 30px 146px 30px;
}

.top-header{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.top-header .nav-list{
  display: flex;
  gap: 32px;
}

.header-container p{
  max-width: 12ch;
  text-transform: uppercase;
  margin-top: 130px;
  padding: 40px;
  border: 2px solid white;
}

/* Sobre Empresa */
.main{
  margin: 150px 0px 184px 0px;
  
}

.sobre-empresa{
  max-width: 1120px;
  margin: 0 auto 180px auto;
  display: grid;
  grid-template-columns:minmax(auto,6fr) 3fr;
  padding: 0px 80px 0px 160px;
  transition: .5s;
}

.container-txt{
  position: relative;
  
}
.sobre-empresa-texto{
  max-width: 450px;
  padding-top: 96px;
  padding-left: 96px;
  position: absolute;
  bottom: -1px;
  left: -230px;
  background-color: rgb(255, 255, 255);
  
 
}

.sobre-empresa-texto h1{
  text-transform: uppercase;
  max-width: 20ch;
}

.sobre-empresa-texto p{
  max-width: 46ch;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media (max-width:1300px){
  .sobre-empresa{
    grid-template-columns: 1fr;
  }

  .sobre-empresa-texto{
    bottom: -70px;
    left: 500px;
  }
}

@media (max-width:1240px){
 /* .sobre-empresa{
  justify-content: center;
 } */
  .sobre-empresa-texto{
    left: 250px;
    transition: .5s;
  }

}

@media (max-width:1180px){
  .sobre-empresa{
    padding-left: 200px;
    
  }
  .sobre-empresa-texto{
    padding: 40px;
    left: 150px;
    }

}

@media (max-width:1050px){
  .sobre-empresa{
    padding: 0px 120px;
    
  }
  .sobre-empresa-texto{
    padding: 40px;
    left: 150px;
    }

}

@media (max-width:900px){
  .sobre-empresa-texto{
    left: 50px;
    }
}

@media (max-width:860px){
  .sobre-empresa{
    align-items: center;
    padding: 0px 60px;
    margin-bottom: 96px;
  }
  picture img{
    width:100%
  }
  .sobre-empresa-texto{
   position: initial;
   text-align: center;
   align-self: center;
   max-width: initial;
   padding-bottom: 0px;
  }
  .sobre-empresa-texto p{
    margin: 0 auto;
   }
   .sobre-empresa-texto h1{
    margin: 8px auto 16px;
    }
 }

 /* Nossas Criacoes */

 .nossa-criacao{
  max-width: 1120px;
  margin: 0 auto;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0px 20px;
 }

 .list-item{
  width: 256px;
  height: 450px;
  background-image: url("../../images/desktop/image-deep-earth.jpg");
  display: flex;
  cursor: pointer;
  
}

.list-item h3{
  z-index: 22;
}
.bg-opacity{
  position: relative;
}

.bg-hover{
  width: 256px;
  height: 450px;
  position: absolute;
  background-color: #ffffffb9;
  top: 0;
  display: none;
}

.bg-opacity:hover{
  color: black;
}

.bg-opacity:hover .bg-hover{
  display: block;
  cursor: pointer;
}

.list-item h3{
  place-self:flex-end;
  padding: 0px 0px 32px 40px;
  font-weight: 300;
  font-size: 2rem;
  max-width: 10ch;
}

 .nossa-criacao h2{
  grid-column: 1/3;
  margin-bottom: 50px;
 }

 .nossa-criacao a{
  padding: 13px 38px;
  border: 1px solid black;
  grid-column: 4;
  place-self: center end;
  margin-bottom: 50px;
 }
 /* Bg Itens */
div.list-item:first-of-type h3{
 max-width: 8ch;
}

div.list-item:nth-of-type(2){
  background-image: url("../images/desktop/image-night-arcade.jpg");
 }

 div.list-item:nth-of-type(3){
  background-image: url("../images/desktop/image-soccer-team.jpg");
 }

 div.list-item:nth-of-type(4){
  background-image: url("../images/desktop/image-grid.jpg");
 }
 div.list-item:nth-of-type(4) h3{
  max-width: 5ch;
 }

 div.list-item:nth-of-type(5){
  background-image: url("../images/desktop/image-from-above.jpg");
 }

 div.list-item:nth-of-type(6){
  background-image: url("../images/desktop/image-pocket-borealis.jpg");
 }

 div.list-item:nth-of-type(7){
  background-image: url("../images/desktop/image-curiosity.jpg");
 }

 div.list-item:last-child{
  background-image: url("../images/desktop/image-fisheye.jpg");
 }

 @media (max-width:1200px){
  .nossa-criacao{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .nossa-criacao a{
    grid-column: 3;
  }

  @media (max-width:860px) {
    .nossa-criacao{
      grid-template-columns: 1fr;
      justify-items: center;
    }
    .nossa-criacao a{
      grid-column: 1;
      order: 20;
      place-self: center;
    }
    .nossa-criacao h2{
      grid-column: 1;
     }
     .list-item{
      width: 654px;
      height: 240px;
      background-image: url("../../images/mobile/image-deep-earth.jpg");
    }

  }
 }