:root{
  --color-p1:hsl(0, 0%, 100%);
  --color-p2:hsl(0, 0%, 0%);
  --color-p3:hsl(0, 0%, 55%);
  --color-p4:hsl(0, 0%, 41%);
}

.color-p1{
  color:var(--color-p1)
}

.color-p2{
  color:var(--color-p2)
}

.color-p3{
  color:var(--color-p3)
}

.color-p4{
  color:var(--color-p4)
}

.list-item{
  width: 256px;
  height: 450px;
  background-image: url("../../images/desktop/image-deep-earth.jpg");
}