/* Header */
.header-bg {
  height: 100%;
  width: 100%;
  background-image: url("../../images/desktop/image-hero.jpg");
  background-position: top right;
  background-size: cover;
}

.header-mask {
  background-color: rgba(2, 2, 2, 0.4);
  transition: .3s;
}

.header-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 64px 24px 146px 24px;
}

.top-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  position: relative;
}

.top-header>a {
  z-index: 22;
}

.top-header .nav-list {
  display: flex;
  gap: 32px;
}

.menu-hb {
  display: none;
  background-image: url("../../images/icon-hamburger.svg");
  background-size: cover;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  z-index: 22;
  transition: .3s;

}

.header-container p {
  max-width: 12ch;
  text-transform: uppercase;
  margin-top: 130px;
  padding: 40px 40px 2px 40px;
  border: 2px solid white;
}

.header-container .nav a::after {
  content: "";
  width: 0px;
  height: 2px;
  background: #fff;
  display: block;
  margin: 0 auto;
}

.header-container .nav a:hover::after {
  transition: width .3s;
  width: 50%;
}

/* Nav Mobile */



@media (max-width:800px) {
  .header-container {
    padding: 40px 24px 146px 24px;
  }

  .menu-hb {
    display: block;
  }

  .nav .nav-list {
    display: block;
    visibility: hidden;
    position: absolute;
    width: 0px;
    height: calc(100vh - 140px);
    background-color: black;
    left: -25px;
    top: -40px;
    padding: 223px 25px 0px 25px;
    transition: width .3s ease-in-out;
    overflow: hidden;
  }

  .nav .nav-list li+li {
    margin-top: 24px;
  }

  .header-container .nav a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1;
    display: inline-block;
  }

  .nav.active .nav-list {
    display: block;
    width: 100%;
    visibility: visible;


  }

  .header-container p {
    margin: 163px auto 0px auto;
  }

  .header-bg {
    background-size: cover;
    background-position: center;
  }

  .header-container p {
    padding: 16px;
  }

}

@media (max-width:375px) {

  .header-bg {
    min-height: 100vh;
  }

  .header-mask {
    height: 100vh;
  }

}